.helpbtn {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("images/logobar/logobar-help.png");
  cursor: pointer;

  /* desktop: belongs to logobar */
  &.ui-desktop {
    top: 8px;
    right: 10px;
  }

  /* mobile: belongs to sidebar */
  &.ui-mobile {
    &.ui-orient-landscape {
      right: 15px;
      bottom: -50px;
    }
    &.ui-orient-portrait {
      bottom: 15px;
      left: -50px;
    }
  }
}

