/* button to like the post, and show the number of total liked count. */
.likebtn {
  position: absolute;
  width: 40px;
  height: 50px;

  /* desktop: belongs to logobar */
  &.ui-desktop {
    top: 60px;
    right: 10px;
  }

  /* mobile: belongs to sidebar */
  &.ui-mobile {
    &.ui-orient-landscape {
      right: 15px;
      top: -60px;
    }
    &.ui-orient-portrait {
      bottom: 8px;
      right: -50px;
    }
  }

  .likebtn-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("images/likebtn/likebtn-icon.png");
    &.likebtn-icon-clicked {
      background-image: url("images/likebtn/likebtn-icon-clicked.png");
    }
  }

  .likebtn-count-wrapper {
    position: relative;
    display: inline-block;
    left: 50%;
    .likebtn-count {
      height: 10px;
      line-height: 10px;
      font-size: 0.813rem; /* 13px */
      white-space: nowrap;
      margin-left: -50%;
      cursor: pointer;
    }
  }
}

