/* button to like the post, and show the number of total liked count. */
.likebtn {
  position: absolute;

  /* desktop: belongs to logobar */
  &.ui-desktop {
    top: 60px;
    right: 10px;
    width: 40px;
    height: 50px;
  }

  /* mobile: belongs to sidebar */
  &.ui-mobile {
    &.ui-orient-landscape {
      right: 15px;
      top: -50px;
      width: 65px;
      height: 40px;
      * {
        float: left;
      }
    }
    &.ui-orient-portrait {
      bottom: 18px;
      right: -50px;
      width: 40px;
      height: 50px;
    }
  }

  .likebtn-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-image: url("images/likebtn/likebtn-icon.png");
    &.likebtn-icon-clicked {
      background-image: url("images/likebtn/likebtn-icon-clicked.png");
    }
  }

  .likebtn-count-wrapper {
    position: relative;
    display: inline-block;
    .likebtn-count {
      font-size: 0.813rem; /* 13px */
      white-space: nowrap;
      cursor: pointer;
    }
    &.ui-desktop,
    &.ui-mobile.ui-orient-portrait {
      left: 50%;
      .likebtn-count {
        height: 10px;
        line-height: 10px;
        margin-left: -50%;
      }
    }
    &.ui-mobile.ui-orient-landscape {
      .likebtn-count {
        direction: rtl;
        text-align: right;
        height: 40px;
        line-height: 40px;
        width: 20px;
        padding-right: 5px;
      }
    }
  }
}

