/* A bar for showing logo */
.logobar {
  background: black;
  position: absolute;
  top: 0;
  left: 0;

  &.ui-desktop,
  &.ui-mobile.ui-orient-portrait {
    width: 100%;
    height: 55px;
    transition: top 300ms ease;
    &.ui-hidden {
      top: -100%;
    }
  }
  &.ui-mobile.ui-orient-landscape {
    width: 55px;
    height: 100%;
    transition: left 300ms ease;
    &.ui-hidden {
      left: -100%;
    }
  }

  img.logobar-logo {
    position: absolute;
    &.ui-desktop,
    &.ui-mobile.ui-orient-portrait {
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
    }
    &.ui-mobile.ui-orient-landscape {
      left: 10px;
      top: 50%;
      transform: rotate(-90deg) translateY(-100%);
      transform-origin: center 0;
    }
  }

  .logobar-username {
    position: absolute;
    line-height: 55px;
    font-size: 1.125rem; /* 18px */
    text-align: right;
    text-decoration: underline;

    &.ui-desktop {
      top: 0;
      right: 70px;
    }
    &.ui-mobile.ui-orient-portrait {
      top: 0;
      right: 10px;
    }
    &.ui-mobile.ui-orient-landscape {
      top: 10px;
      left: 0;
      transform: rotate(-90deg) translateX(-100%);
      transform-origin: top left;
    }
  }
}

