html {
    font-family: Helvetica;
    font-size: 100%; /* 16px as 1rem */
}

body {
    font-size: 1em;
    color: white;
    background-color: #000000;
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

/**
  * Styles for sidebar.
  */
/* Main styles for sidebar */
.sidebar {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 210px;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: right 300ms ease;
    -moz-transition: right 300ms ease;
    -o-transition: right 300ms ease;
    -ms-transition: right 300ms ease;
    transition: right 300ms ease;
}
.sidebar.ui-hidden {
    right: -350px;
}
/* Only iconlist is shown. */
.sidebar-collapsed {
}
/* All sub-components are shown. */
.sidebar-expanded {
}
/* Common sytles for sub-components*/
.sidebar-iconlist,
.sidebar-content-wrapper,
.sidebar-content-info,
.sidebar-content-tag,
.sidebar-content-share {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}
.sidebar-iconlist,
.sidebar-content-wrapper {
    -webkit-transition: width 100ms ease, padding 100ms ease;
    -moz-transition: width 100ms ease, padding 100ms ease;
    -o-transition: width 100ms ease, padding 100ms ease;
    -ms-transition: width 100ms ease, padding 100ms ease;
    transition: width 100ms ease, padding 100ms ease;
}
.sidebar-text-singleline {
    white-space: nowrap;
}
.sidebar-text-multiline {
    /* Wrap words in a component */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
textarea:focus, input:focus {
    outline: none;
}
/* sidebar-title: a label that shows the title of sidebar. */
.sidebar-title {
    position: absolute;
    top: 10px;
    left: 0;
    width: 40px;
    text-align: center;
    font-size: 0.813rem; /* 13px */
    cursor: default;
    -webkit-transition: left 100ms ease;
    -moz-transition: left 100ms ease;
    -o-transition: left 100ms ease;
    -ms-transition: left 100ms ease;
    transition: left 100ms ease;
}
/* sidebar-iconlist: a bar to show icons */
.sidebar-iconlist {
    height: 100%;
    padding: 30px 15px 0 0;
    width: 55px;
}
.sidebar-iconlist .sidebar-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    background-size: contain;
    cursor: pointer;
}
/* Customized icons */
.sidebar-icon-info {
    background-image: url("images/sidebar/sidebar-icon-info.png");
}
.sidebar-icon-tag {
    background-image: url("images/sidebar/sidebar-icon-tag.png");
}
.sidebar-icon-share {
    background-image: url("images/sidebar/sidebar-icon-share.png");
}
.sidebar-icon-info.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-info-clicked.png");
}
.sidebar-icon-tag.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-tag-clicked.png");
}
.sidebar-icon-share.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-share-clicked.png");
}
/* sidbar-content-wrapper: a container for wrapping different contents. */
.sidebar-content-wrapper {
    width: 0;
    height: 100%;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-large {
    width: 240px;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-small {
    width: 210px;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-none {
    width: 0;
}
.sidebar-content {
    display: none;
    width: 100%;
    height: 100%;
}
/* Customized content: sidebar-content-info */
.sidebar-content-info {
    padding: 15px 15px 15px 0;
}
.sidebar-content-info img,
.sidebar-content-info .sidebar-content-info-title,
.sidebar-content-info .sidebar-content-info-message {
    display: inline-block;
    float: left;
}
.sidebar-content-info * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-content-info img {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.sidebar-content-info .sidebar-content-info-title {
    width: 165px;
    height: 60px;
    padding-left: 15px;
}
.sidebar-content-info .sidebar-content-info-message {
    width: 100%;
    height: 120px;
    padding-top: 15px;
    font-size: 0.813rem; /* 13px */
    color: #CCCCCC;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-author,
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-date {
    width: 100%;
    height: 30px;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-author {
    font-size: 0.938rem; /* 15px */
    font-weight: bold;
    padding-top: 10px;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-date {
    font-size: 0.813rem; /* 13px */
}
/* Customized content: sidebar-content-share */
.sidebar-content-share {
    padding: 10px 15px 15px 0;
}
.sidebar-content-share * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-content-share .sidebar-content-share-iconlist {
    width: 100%;
    height: 53px;
    text-align: center;
}
.sidebar-content-share .sidebar-content-share-size {
    width: 100%;
    height: 50px;
    padding: 10px 0;
}
.sidebar-content-share .sidebar-content-share-linkwrapper {
    width: 100%;
    height: 82px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.25);
}
.sidebar-content-share .sidebar-content-share-linkwrapper textarea.sidebar-content-share-link {
    width: 100%;
    height: 100%;
    border: none;
    font-size: 0.813rem; /* 13px */
    color: white;
    background: none;
    resize: none;
    overflow: hidden;
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-icon {
    display: inline-block;
    width: 53px;
    height: 53px;
    margin: 0 10px;
    background-size: contain;
    cursor: pointer;
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-facebook {
    background-image: url("images/sidebar/sidebar-content-share-facebook.png");
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-twitter {
    background-image: url("images/sidebar/sidebar-content-share-twitter.png");
}
.sidebar-content-share .sidebar-content-share-size * {
    display: inline-block;
    float: left;
    height: 100%;
}
.sidebar-content-share .sidebar-content-share-size input[type="text"].sidebar-content-share-width,
.sidebar-content-share .sidebar-content-share-size input[type="text"].sidebar-content-share-height {
    width: 87px;
    border: 5px solid transparent;
    text-align: right;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}
.sidebar-content-share .sidebar-content-share-size .sidebar-content-share-multiply {
    width: 21px;
    text-align: center;
    line-height: 30px;
    cursor: default;
}

/**
  * Styles for like buttn
  */
/* button to like the post, and show the number of total liked count. */
.likebtn {
    position: absolute;
    width: 40px;
    height: 50px;
    top: 60px;
    right: 10px;
}
.likebtn .likebtn-icon {
    width: 40px;
    height: 40px;
    background-image: url("images/likebtn/likebtn-icon.png");
    cursor: pointer;
}
.likebtn .likebtn-icon.likebtn-icon-clicked {
    background-image: url("images/likebtn/likebtn-icon-clicked.png");
}
.likebtn .likebtn-count-wrapper {
    position: relative;
    display: inline-block;
    left: 50%;
}
.likebtn .likebtn-count {
    height: 10px;
    line-height: 10px;
    font-size: 0.813rem; /* 13px */
    white-space: nowrap;
    margin-left: -50%;
    cursor: default;
}

/**
  * Styles for logo bar
  */
/* A bar for showing logo and help icon*/
.logo-bar {
    background: black;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px; 
    -webkit-transition: top 300ms ease;
    -moz-transition: top 300ms ease;
    -o-transition: top 300ms ease;
    -ms-transition: top 300ms ease;
    transition: top 300ms ease;
}
.logo-bar.ui-hidden {
    top: -150px;
}
.logo-bar #logo_img {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 10px;
    left: 50%;
}
.logo-bar #q_mark_img {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#how_to_use{
    display: none;
}

/* progress bar shape and position and turnoff the default setting of each browser*/
progress.progress-bar{
    position: absolute;
    bottom: 0px;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    height: 4px;
}

/* set the bar background color of firefox and chrome*/
progress,                          /* Firefox  */ 
progress[role][aria-valuenow] {    /* Polyfill */
       background: #1d1b1b !important; /* !important is needed by the polyfill */
}

progress::-webkit-progress-bar {
        background: #1d1b1b;
}

/* set the bar color*/
/* IE10 */
progress {
    color: #ff504b;
}

/* Firefox */
progress::-moz-progress-bar { 
    background: #ff504b;  
}

/* Chrome */
progress::-webkit-progress-value {
    background: #ff504b;
}

