html {
    font-family: Helvetica;
    font-size: 100%; /* 16px as 1rem */
}

body {
    font-size: 1em;
    color: white;
    background-color: #000000;
    background-color: white;
    margin: 0px;
    overflow: hidden;
}

/**
  * Styles for sidebar.
  */
/* Main styles for sidebar */
.sidebar {
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    height: 210px;
    background-color: rgba(0, 0, 0, 0.5);
}
/* Only sidebar button is shown. */
.sidebar-collapsed {
}
/* Sidebar button and icon list are shown. */
.sidebar-partial-expanded {
}
/* All sub-components are shown. */
.sidebar-expanded {
}
/* Common sytles for sub-components*/
.sidebar-btn,
.sidebar-iconlist,
.sidebar-content-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    float: left;
}
.sidebar-iconlist,
.sidebar-content-wrapper {
    -webkit-transition: width 100ms ease, padding 100ms ease;
    -moz-transition: width 100ms ease, padding 100ms ease;
    -o-transition: width 100ms ease, padding 100ms ease;
    -ms-transition: width 100ms ease, padding 100ms ease;
    transition: width 100ms ease, padding 100ms ease;
}
.sidebar-text-singleline {
    white-space: nowrap;
}
.sidebar-text-multiline {
    /* Wrap words in a component */
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
/* sidebar-title: a label that shows the title of sidebar. */
.sidebar-title {
    position: absolute;
    top: 3px;
    text-align: center;
    font-size: 0.813rem; /* 13px */
    cursor: default;
    -webkit-transition: left 100ms ease;
    -moz-transition: left 100ms ease;
    -o-transition: left 100ms ease;
    -ms-transition: left 100ms ease;
    transition: left 100ms ease;
}
.sidebar-collapsed .sidebar-title {
    left: 0;
    width: 50px;
}
.sidebar-partial-expanded .sidebar-title,
.sidebar-expanded .sidebar-title {
    left: 50px;
    width: 40px;
}
/* sidebar-btn: A button used to collpase/expand the sidebar */
.sidebar-btn {
    width: 50px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
.sidebar.sidebar-collapsed .sidebar-btn {
    background-image: url("images/sidebar/sidebar-btn-collapsed.png");
}
.sidebar.sidebar-partial-expanded .sidebar-btn,
.sidebar.sidebar-expanded .sidebar-btn {
    background-image: url("images/sidebar/sidebar-btn-expanded.png");
}
/* sidebar-iconlist: a bar to show icons */
.sidebar-iconlist {
    height: 100%;
    padding: 30px 0 0 0;
}
.sidebar-collapsed .sidebar-iconlist {
    width: 0;
}
.sidebar-partial-expanded .sidebar-iconlist,
.sidebar-expanded .sidebar-iconlist {
    width: 40px;
}
.sidebar-iconlist .sidebar-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    background-size: contain;
    cursor: pointer;
}
/* Customized icons */
.sidebar-icon-info {
    background-image: url("images/sidebar/sidebar-icon-info.png");
}
.sidebar-icon-tag {
    background-image: url("images/sidebar/sidebar-icon-tag.png");
}
.sidebar-icon-share {
    background-image: url("images/sidebar/sidebar-icon-share.png");
}
.sidebar-icon-info.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-info-clicked.png");
}
.sidebar-icon-tag.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-tag-clicked.png");
}
.sidebar-icon-share.sidebar-icon-clicked {
    background-image: url("images/sidebar/sidebar-icon-share-clicked.png");
}
/* sidbar-content-wrapper: a container for wrapping different contents. */
.sidebar-content-wrapper {
    width: 0;
    height: 100%;
    padding: 5px 0;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-large {
    width: 240px;
    padding: 5px;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-small {
    width: 210px;
    padding: 5px;
}
.sidebar-expanded .sidebar-content-wrapper.sidebar-contentsize-none {
    width: 0;
    padding: 5px 0;
}
.sidebar-content {
    display: none;
    width: 100%;
    height: 100%;
}
/* Customized content: sidebar-content-info */
.sidebar-content-info img,
.sidebar-content-info .sidebar-content-info-title,
.sidebar-content-info .sidebar-content-info-message {
    display: inline-block;
    float: left;
}
.sidebar-content-info * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-content-info img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: solid 3px black;
}
.sidebar-content-info .sidebar-content-info-title {
    width: 150px;
    height: 80px;
}
.sidebar-content-info .sidebar-content-info-message {
    width: 100%;
    height: 120px;
    padding: 5px;
    font-size: 0.813rem; /* 13px */
    color: #CCCCCC;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-author,
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-date {
    width: 100%;
    height: 40px;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-author {
    font-size: 0.938rem; /* 15px */
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}
.sidebar-content-info .sidebar-content-info-title .sidebar-content-info-date {
    font-size: 0.813rem; /* 13px */
    text-align: center;
}
/* Customized content: sidebar-content-share */
.sidebar-content-share * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.sidebar-content-share .sidebar-content-share-iconlist {
    width: 100%;
    height: 60px;
    padding-top: 7px;
    text-align: center;
}
.sidebar-content-share .sidebar-content-share-size {
    width: 100%;
    height: 30px;
    padding: 5px 0;
}
.sidebar-content-share .sidebar-content-share-link {
    width: 100%;
    height: 110px;
    padding: 0 5px;
    background-color: white;
    border: solid 2px rgb(238, 238, 238);
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-icon {
    display: inline-block;
    width: 53px;
    height: 53px;
    margin: 0 10px;
    background-size: contain;
    cursor: pointer;
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-facebook {
    background-image: url("images/sidebar/sidebar-content-share-facebook.png");
}
.sidebar-content-share .sidebar-content-share-iconlist .sidebar-content-share-twitter {
    background-image: url("images/sidebar/sidebar-content-share-twitter.png");
}
.sidebar-content-share .sidebar-content-share-size * {
    display: inline-block;
    float: left;
    height: 100%;
}
.sidebar-content-share .sidebar-content-share-size input[type="text"].sidebar-content-share-width,
.sidebar-content-share .sidebar-content-share-size input[type="text"].sidebar-content-share-height {
    width: 90px;
    text-align: right;
}
.sidebar-content-share .sidebar-content-share-size .sidebar-content-share-multiply {
    width: 20px;
    text-align: center;
    line-height: 20px;
    cursor: default;
}
.sidebar-content-share .sidebar-content-share-link .sidebar-content-share-codebr {
    width: 40px;
    height: 40px;
    background-image: url("images/sidebar/sidebar-content-share-codebr.png");
}
.sidebar-content-share .sidebar-content-share-link textarea.sidebar-content-share-output {
    width: 100%;
    height: 60px;
    font-size: 0.813rem; /* 13px */
    color: black;
    resize: none;
    border: none;
    background: none;
    overflow: hidden;
}

.logo-bar {
    background: black;
    width: 100%;
    height: 55px;
    position: absolute;
    top: 0px;
    left: 0px; 
}

.logo-bar #logo_img{
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    position: absolute;
    top: 10px;
    left: 50%;
}

.logo-bar #q_mark_img{
    position: fixed;
    top: 8px;
    left: 90%;
    width:35px; 
    height:35px;
}

#how_to_use{
    display: none;
}
